body{
    background-image: url(assets/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
}
.topLi{
    color: black;
    font-size: 110%;
}
input{
    height: 24px;
    margin: 2px;
}